/*++++++++++++++++++++++++++++++
        MINI ABOUT SECTION  
++++++++++++++++++++++++++++++++*/
.mini-about-sec .img-holder {
  position: relative;
  width: 80%;
  height: 100%;
}
.mini-about-sec .img-holder img {
  border-radius: var(--radius-sec);
  height: 100%;
  object-fit: cover;
}
.mini-about-sec .img-holder span {
  position: absolute;
  height: 40%;
  width: 30%;
  bottom: -2rem;
  right: -1rem;
  border-radius: var(--radius-sec);
  background: var(--my-primary);
  z-index: +1;
  opacity: 0.8;
  animation: floatUpDown 3s ease-in-out infinite;
}
@keyframes floatUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

/*++++++++++++++++++++++++++++++
        MINI INFO SECTION  
++++++++++++++++++++++++++++++++*/
.infoSlider {
  border-radius: var(--radius-sec);
}

/*++++++++++++++++++++++++++++++
        ACTIVE EVENTS SECTION  
++++++++++++++++++++++++++++++++*/
.active-events-sec {
  background: var(--color-bg-toggle);
}

.active-events-sec .mb-prim > div:first-child > * {
  color: var(--color-text-toggle);
}

.active-events-sec .today-date-box {
  display: flex;
  justify-content: end;
}
.active-events-sec .today-date-box h4 {
  color: var(--my-primary);
  text-align: right;
}

.active-events-sec .event-archive-card {
  border: none;
}

@media (max-width: 800px) {
  .active-events-sec .today-date-box .hd-big {
    font-size: 1.2rem;
    line-height: 1.4rem;
  }

  .active-events-sec .gap-card > div:first-child p {
    font-size: 0.7rem;
  }
}

/*++++++++++++++++++++++++++++++
        CALL TO ACTION SECTION  
++++++++++++++++++++++++++++++++*/
.calltoaction-sec {
  background: var(--color-bg-toggle);
  color: var(--color-text-toggle);
}
.calltoaction-sec .row {
  display: flex;
  gap: var(--gap-col);
}

.calltoaction-sec .hd-prim,
.calltoaction-sec p {
  color: var(--color-text-toggle);
}

.calltoaction-sec .img-col {
  flex-shrink: 0;
  margin-top: -5rem;
}
.calltoaction-sec .img-col > div {
  border-radius: 100%;
  width: 300px;
  height: 300px;
  padding: 0.4rem;
  background: var(--my-primary);
  transform: rotate(5deg);
  transition: var(--transition-linear);
}
.calltoaction-sec .img-col > div:hover {
  transform: rotate(10deg);
}
.calltoaction-sec .img-col > div .holder {
  border-radius: 100%;
  width: 100%;
  height: 100%;
  position: relative;
  padding-top: 100%;
  background: red;
  margin-top: -0.2rem;
}
.calltoaction-sec .img-col > div .holder img {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 100%;
  height: 100%;
  object-fit: cover;
}
.calltoaction-sec .img-col > div .holder .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.629);
  z-index: +1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calltoaction-sec .img-col > div .holder .overlay h4 {
  --fs: 4rem;
  text-align: center;
  font-size: var(--fs);
  line-height: calc(var(--fs) + 0.2rem);
}
.calltoaction-sec .img-col > div .holder .overlay h6 {
  text-align: center;
  font-family: var(--font-secoundry);
  font-weight: 600;
  color: var(--my-primary);
  font-size: 1rem;
}
.calltoaction-sec .btn-link {
  color: var(--color-text-toggle);
}
.calltoaction-sec .btn-link:hover {
  color: var(--my-primary);
}

@media (max-width: 800px) {
  .calltoaction-sec .row {
    flex-direction: column-reverse;
  }

  .calltoaction-sec .img-col {
    margin-top: -2.5rem;
  }

  .calltoaction-sec .img-col > div {
    width: 17rem;
    height: 17rem;
  }
}

/*++++++++++++++++++++++++++++++
       GALLERY SECTION  
  ++++++++++++++++++++++++++++++++*/
.g-img-card {
  width: 100%;
  padding-top: 100%;
  position: relative;
}

@supports (-webkit-overflow-scrolling: touch) {
  .g-img-card {
    overflow: hidden;
    transform: translate3d(0, 0, 0);
  }
}

.g-img-card a {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.g-img-card img {
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: var(--radius-prim);
  overflow: hidden;
  transition: var(--transition-linear);
}
.g-img-card:hover img {
  transform: scale(0.9);
  border: 1px solid var(--my-secoundry);
}
