/*++++++++++++++++++++++++++++++
        MINI ABOUT SECTION  
++++++++++++++++++++++++++++++++*/
/* .mini-about-sec .img-holder {
  position: relative;
  width: 100%;
  height: 100%;
} */
.mini-about-sec .img-holder img {
  border-radius: var(--radius-sec);
  /* height: 100%;
  object-fit: cover; */
}
@keyframes floatUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

/*++++++++++++++++++++++++++++++
        MINI INFO SECTION  
++++++++++++++++++++++++++++++++*/
.infoSlider .swiper-slide{
  border-radius: var(--radius-sec) !important;
  overflow: hidden;
}
.infoSlider .swiper-slide a{
  display: block;
}

/*++++++++++++++++++++++++++++++
        ACTIVE EVENTS SECTION  
++++++++++++++++++++++++++++++++*/
.active-events-sec {
  background: var(--color-bg-toggle);
}

.active-events-sec .mb-prim > div:first-child > * {
  color: var(--color-text-toggle);
}

.active-events-sec .today-date-box {
  display: flex;
  justify-content: end;
}
.active-events-sec .today-date-box h4 {
  color: var(--my-primary);
  text-align: right;
}

.active-events-sec .event-archive-card {
  border: none;
}

@media (max-width: 800px) {
  .active-events-sec .today-date-box .hd-big {
    font-size: 1.2rem;
    line-height: 1.4rem;
  }

  .active-events-sec .gap-card > div:first-child p {
    font-size: 0.7rem;
  }
}

/*++++++++++++++++++++++++++++++
        CALL TO ACTION SECTION  
++++++++++++++++++++++++++++++++*/
.calltoaction-sec {
  /* background: var(--color-bg-toggle); */
  color: var(--color-text-toggle);

  background-image: 
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
    url('http://127.0.0.1:8000/website/images/bgevent.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* .calltoaction-sec .row {
  display: flex;
  gap: var(--gap-col);
} */

.calltoaction-sec .hd-prim,
.calltoaction-sec p {
  color: var(--color-text-toggle);
  text-align: center;
}

.calltoaction-sec p {
  font-size: 1rem;
  line-height: 1.5rem;
}

.calltoaction-sec .btn-link {
  color: var(--color-text-toggle);
}
.calltoaction-sec .btn-link:hover {
  color: var(--my-primary);
}

@media (max-width: 800px) {
  .calltoaction-sec .row {
    flex-direction: column-reverse;
  }
}

/*++++++++++++++++++++++++++++++
       GALLERY SECTION  
  ++++++++++++++++++++++++++++++++*/
.g-img-card {
  width: 100%;
  padding-top: 100%;
  position: relative;
}

@supports (-webkit-overflow-scrolling: touch) {
  .g-img-card {
    overflow: hidden;
    transform: translate3d(0, 0, 0);
  }
}

.g-img-card a {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.g-img-card img {
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: var(--radius-prim);
  overflow: hidden;
  transition: var(--transition-linear);
}
.g-img-card:hover img {
  transform: scale(0.9);
  border: 1px solid var(--my-secoundry);
}
